.button {
text-transform: uppercase;
color: $lightestColor;
border: 1px solid white;
box-sizing: border-box;
font-family: $primaryFont;
font-size: 1.17 rem;
font-weight: 700;
transition: all 0.3s;

&:focus {
outline: none;
}

&-transparent {

    min-width:225px;
    min-height:55px;
    background-color: transparent;

    &:hover {
    background-color: $secondaryBgColor;
    border:none;
 }
}
&-red {
    min-width:225px;
    min-height:55px;
    background-color: $secondaryBgColor; 
    }
&-grey {
    width: 145px;
    height:45px;
    background-color: $thirdBgColor;
    display:block; 
    margin:auto;  
    &:hover {
        background-color: $secondaryBgColor; 
    }
}
}


.separator {
width: 10px;
height:10px;
border-radius: 50%;
background-color: $secondaryBgColor;
position:relative;
 &:before, &:after {
     display:block;
     content:'';
     width: 80px;
     height:2px;
     box-sizing: border-box;
     border: 1px solid $lightestColor;
     position:absolute;

 }
 &:before {
     left: -100px;
     top: 5px;
 }
 &:after {
    right: -100px;
    top: 5px;
}
}

.info-block {
    padding: 100px 10% 100px 10%;
}

.info-block__header {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        & .terms {
            width:70%;
            text-align: center;
            font-size:1.17rem;
            font-family: $primaryFont;
            color: $mainFontColor;
            padding: 10px 0;
        }
        & .separator {
    
            &:before, &:after {
            border: 1px solid $mainFontColor;
        }
    }
    }

//H1-H6 headers

h1 {
    font-family: $primaryFont;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
}

h2 {
    font-size:3rem;
    font-family: $secondaryFont;
    color: $mainFontColor;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  h3 {
    font-size:2rem;
    font-family: $primaryFont;
    color: $secondaryBgColor;
    text-transform: uppercase;
  }