// Fonts

$primaryFont: 'Open Sans';
$secondaryFont: 'Source Sans Pro';
$mainFontColor:#6a6a6a;
$secondaryFontColor:#f4f5f9;


// Bg-colors:

$primaryBgColor:#f4f5f9;
$secondaryBgColor:#e74c3c;
$thirdBgColor: #999999;
$fourthBgColor: #343434;


