// Fonts

$primaryFont: 'Open Sans';
$secondaryFont: 'Source Sans Pro';



// Сolors:

$lightestColor:#f4f5f9; 
$mainFontColor:#6a6a6a;
$secondaryBgColor:#e74c3c;
$thirdBgColor: #999999;
$fourthBgColor: #343434;


