// HEADER TOP PART

.header {
        width:100%;
        height:95vh;
        background: url('../img/header_bg.png') no-repeat center bottom;
        background-position: contain;
        position:relative;
        font-size:1rem;

        &:before {
            display:block;
            content:'';
            position:absolute;
            width: 60px;
            height:60px;
            border-radius:50%;
            left:50%;
            bottom:0;
            transform: translate(-50%, 50%);
            //background: linear-gradient(45deg, white 0%, white 50%, #6a6a6a75 50%, #6a6a6a75 100%);
            background-color: white;
            opacity: 0.25;
            background-image: url('../img/anchor.png');
            background-repeat: no-repeat;
            background-size: center;
            background-position: center;
        }

        &:after {
            display:block;
            content:'';
            position:absolute;
            width: 50px;
            height:50px;
            border-radius:50%;
            left:50%;
            bottom:0;
            transform: translate(-50%, 50%);
            background-color: $lightestColor;
            background-image: url('../img/anchor.png');
            background-repeat: no-repeat;
            background-size: center;
            background-position: center;
        }

            &__top {
                box-sizing: border-box;
                width:100%;
                padding:50px 20%;
                display:flex;
                justify-content: space-between;
                align-items: center;

            }
        }

.menu { 
    width:70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

     & > a:hover {
        border-bottom: 1px solid $secondaryBgColor;
    }

     &-item {
        display: inline-block;
        line-height: 50px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-family: $primaryFont;
        font-size: 1.17rem;

        &:hover {
            color: $secondaryBgColor;
         }

    }
}

// HEADER CENTRAL PART

.header__bottom {
    width:80%;
    margin: 50px auto;
    color: $lightestColor;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moto {
    font-family:$secondaryFont;
    font-size: 2em;
}
.description {
    box-sizing: border-box;
    padding: 0 20%;
    text-align: center;
}






