.integrations {
    background-color: $lightestColor;
    &__block-logos {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        padding-top:50px;
        
        & > img {
            background-color: white;;
            background-blend-mode: darken;
            transition: all 0.3s;
            &:hover {
                background-color: $secondaryBgColor;
                background-blend-mode: overlay;
            }
         }
    }
}